@keyframes spiral {
  0% {
    clip-path: polygon(
      0% 0%,
      100% 0%,
      100% 100%,
      0% 100%,
      0% 25%,
      75% 25%,
      75% 75%,
      25% 75%,
      25% 50%,
      50% 50%,
      25% 50%,
      25% 75%,
      75% 75%,
      75% 25%,
      0% 25%
    );
  }
  14.25% {
    clip-path: polygon(
      0% 0%,
      100% 0%,
      100% 100%,
      0% 100%,
      0% 25%,
      75% 25%,
      75% 75%,
      50% 75%,
      50% 50%,
      50% 50%,
      25% 50%,
      25% 75%,
      75% 75%,
      75% 25%,
      0% 25%
    );
  }
  28.5% {
    clip-path: polygon(
      0% 0%,
      100% 0%,
      100% 100%,
      0% 100%,
      0% 25%,
      75% 25%,
      75% 50%,
      50% 50%,
      50% 50%,
      50% 50%,
      25% 50%,
      25% 75%,
      75% 75%,
      75% 25%,
      0% 25%
    );
  }
  42.75% {
    clip-path: polygon(
      0% 0%,
      100% 0%,
      100% 100%,
      0% 100%,
      0% 25%,
      25% 25%,
      25% 50%,
      25% 50%,
      25% 50%,
      25% 50%,
      25% 50%,
      25% 75%,
      75% 75%,
      75% 25%,
      0% 25%
    );
  }
  57% {
    clip-path: polygon(
      0% 0%,
      100% 0%,
      100% 100%,
      0% 100%,
      0% 75%,
      25% 75%,
      25% 75%,
      25% 75%,
      25% 75%,
      25% 75%,
      25% 75%,
      25% 75%,
      75% 75%,
      75% 25%,
      0% 25%
    );
  }
  71.25% {
    clip-path: polygon(
      0% 0%,
      100% 0%,
      100% 100%,
      75% 100%,
      75% 75%,
      75% 75%,
      75% 75%,
      75% 75%,
      75% 75%,
      75% 75%,
      75% 75%,
      75% 75%,
      75% 75%,
      75% 25%,
      0% 25%
    );
  }
  85.5% {
    clip-path: polygon(
      0% 0%,
      100% 0%,
      100% 25%,
      75% 25%,
      75% 25%,
      75% 25%,
      75% 25%,
      75% 25%,
      75% 25%,
      75% 25%,
      75% 25%,
      75% 25%,
      75% 25%,
      75% 25%,
      0% 25%
    );
  }
  100% {
    clip-path: polygon(
      0% 0%,
      0% 0%,
      0% 0%,
      0% 0%,
      0% 0%,
      0% 0%,
      0% 0%,
      0% 0%,
      0% 25%,
      0% 25%,
      0% 25%,
      0% 25%,
      0% 25%,
      0% 25%,
      0% 25%
    );
  }
}

@keyframes melt-enter {
  0% {
    clip-path: path(
      "M0 -0.12C8.33 -8.46 16.67 -12.62 25 -12.62C37.5 -12.62 35.91 0.15 50 -0.12C64.09 -0.4 62.5 -34.5 75 -34.5C87.5 -34.5 87.17 -4.45 100 -0.12C112.83 4.2 112.71 -17.95 125 -18.28C137.29 -18.62 137.76 1.54 150.48 -0.12C163.19 -1.79 162.16 -25.12 174.54 -25.12C182.79 -25.12 191.28 -16.79 200 -0.12L200 -34.37L0 -34.37L0 -0.12Z"
    );
  }
  100% {
    clip-path: path(
      "M0 199.88C8.33 270.71 16.67 306.13 25 306.13C37.5 306.13 35.91 231.4 50 231.13C64.09 230.85 62.5 284.25 75 284.25C87.5 284.25 87.17 208.05 100 212.38C112.83 216.7 112.71 300.8 125 300.47C137.29 300.13 137.76 239.04 150.48 237.38C163.19 235.71 162.16 293.63 174.54 293.63C182.79 293.63 191.28 262.38 200 199.88L200 0.13L0 0.13L0 199.88Z"
    );
  }
}

@keyframes melt-leave {
  0% {
    clip-path: path(
      "M0 0C8.33 -8.33 16.67 -12.5 25 -12.5C37.5 -12.5 36.57 -0.27 50 0C63.43 0.27 62.5 -34.37 75 -34.37C87.5 -34.37 87.5 -4.01 100 0C112.5 4.01 112.38 -18.34 125 -18.34C137.62 -18.34 138.09 1.66 150.48 0C162.86 -1.66 162.16 -25 174.54 -25C182.79 -25 191.28 -16.67 200 0L200 200L0 200L0 0Z"
    );
  }
  100% {
    clip-path: path(
      "M0 200C8.33 270.83 16.67 306.25 25 306.25C37.5 306.25 36.57 230.98 50 231.25C63.43 231.52 62.5 284.38 75 284.38C87.5 284.38 87.5 208.49 100 212.5C112.5 216.51 112.38 300.41 125 300.41C137.62 300.41 138.09 239.16 150.48 237.5C162.86 235.84 162.16 293.75 174.54 293.75C182.79 293.75 191.28 262.5 200 200L200 200L0 200L0 200Z"
    );
  }
}

@keyframes bounce-in {
  0% {
    animation-timing-function: cubic-bezier(0.0383, 0.3388, 0.0421, 0.6652);
    transform: matrix(0.01, 0, 0, 0.01, 0, 0);
    opacity: 1;
  }
  4.7% {
    animation-timing-function: cubic-bezier(0.3296, 0.3336, 0.5772, 0.6672);
    transform: matrix(0.556, 0, 0, 0.556, 0, 0);
    opacity: 1;
  }
  8.4% {
    animation-timing-function: cubic-bezier(0.0781, 0.1617, 0.0874, 0.9301);
    transform: matrix(0.979, 0, 0, 0.979, 0, 0);
    opacity: 1;
  }
  12.4% {
    animation-timing-function: cubic-bezier(0.8341, 0.1496, 0.8634, 0.7673);
    transform: matrix(1.153, 0, 0, 1.153, 0, 0);
    opacity: 1;
  }
  16.3% {
    animation-timing-function: cubic-bezier(0.3264, 0.3332, 0.5758, 0.6695);
    transform: matrix(1.008, 0, 0, 1.008, 0, 0);
    opacity: 1;
  }
  21.2% {
    animation-timing-function: cubic-bezier(0.0921, 0.1883, 0.3277, 1);
    transform: matrix(0.704, 0, 0, 0.704, 0, 0);
    opacity: 1;
  }
  24.5% {
    animation-timing-function: cubic-bezier(0.6905, 0.0944, 0.8759, 0.7624);
    transform: matrix(0.626, 0, 0, 0.626, 0, 0);
    opacity: 1;
  }
  27.7% {
    animation-timing-function: cubic-bezier(0.3688, 0.332, 0.624, 0.6684);
    transform: matrix(0.704, 0, 0, 0.704, 0, 0);
    opacity: 1;
  }
  32.6% {
    animation-timing-function: cubic-bezier(0.1368, 0.2364, 0.2451, 0.9049);
    transform: matrix(0.958, 0, 0, 0.958, 0, 0);
    opacity: 1;
  }
  37.4% {
    animation-timing-function: cubic-bezier(0.5936, 0.0846, 0.3495, 1);
    transform: matrix(1.085, 0, 0, 1.085, 0, 0);
    opacity: 1;
  }
  49.5% {
    animation-timing-function: cubic-bezier(0.5522, 0.0981, 0.3807, 1);
    transform: matrix(0.802, 0, 0, 0.802, 0, 0);
    opacity: 1;
  }
  62.4% {
    animation-timing-function: cubic-bezier(0.4497, 0.1349, 0.4911, 1);
    transform: matrix(1.044, 0, 0, 1.044, 0, 0);
    opacity: 1;
  }
  74.1% {
    animation-timing-function: cubic-bezier(0.429, 0, 0.5239, 1);
    transform: matrix(0.914, 0, 0, 0.914, 0, 0);
    opacity: 1;
  }
  87% {
    animation-timing-function: cubic-bezier(0.3501, 0, 0.6422, 1);
    transform: matrix(1.013, 0, 0, 1.013, 0, 0);
    opacity: 1;
  }
  95.8% {
    animation-timing-function: cubic-bezier(0.3653, 0, 0.6776, 1);
    transform: matrix(0.992, 0, 0, 0.992, 0, 0);
    opacity: 1;
  }
  100% {
    transform: matrix(1, 0, 0, 1, 0, 0);
    opacity: 1;
  }
}

// splashScreen
@keyframes splashScreen_view {
  0% {
    transform: scale(1);
  }
  2% {
    transform: scale(4.5);
  }
  10% {
    transform-origin: 10vw;
  }
  20% {
    transform-origin: 10vw;
  }
  30% {
    transform-origin: 10vw;
  }

  40% {
    transform-origin: 10vw;
  }

  90% {
    transform-origin: 80vw;
    transform: scale(4.5);
    filter: brightness(0.4);
  }
  100% {
    transform: scale(1);
    transform-origin: 10vw;
    filter: brightness(1);
  }
}

@keyframes splashScreen_char_draw {
  100% {
    stroke-dashoffset: 0;
  }
}
